name: Ebay Scraper (Every 3 Hours)

on:
  schedule:
    - cron: '0 */3 * * *'  # Run every 10 minutes
  workflow_dispatch:        # Allows manual triggering

jobs:
  scrape-ebay:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install selenium pandas webdriver-manager fake-useragent


      - name: Run Selenium scraper
        run: python main.py

      - name: Commit and Push updated CSV
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add ebay_tech_deals.csv
          git commit -m "Updated Ebay data"
          git push
